h1 {
    font-size: 4vw;
    vertical-align:text-top;
    font-family: 'Times New Roman', Times, serif;
    position: relative;
    text-align: center;
    width: auto;
}

h2 {
    text-align: center;
    width: auto;
    vertical-align: text-top;
    font-size: 2vw;
    font-family: 'Times New Roman', Times, serif;
    position: relative;
}

a {
    text-align: center;
    vertical-align: central;
    font-size: 1vw;
    font-family: 'Times New Roman', Times, serif;
    width: max-content;
    position: relative;
    line-height: 2vw;
    margin: 1vw;
}

body {
    background-color: lightgray;
}

.text-space {
    width: 16%;
    position: relative;
    background-color: darkgray;
    border-radius: 2vw;
    border-style: outset;
    margin: 1vw;
    vertical-align: central;
    left: 38.5%;
    top: 5%;
    text-align: center;
}

.container-login {
    width: 50%;
    height: 40vw;
    position: relative;
    left: 25%;
    top: 25%;
}

.input-box {
    width: 24;
    margin: 1vw;
    left: 36%;
    top: 1%;
    position: relative;
}
input, label {
    display: block;
    margin: 0.5vw;
}