h1 {
    font-size: 4vw;
    vertical-align:text-top;
    font-family: 'Times New Roman', Times, serif;
    position: relative;
    text-align: center;
    width: auto;
}

h2 {
    text-align: center;
    width: auto;
    vertical-align: text-top;
    font-size: 2vw;
    font-family: 'Times New Roman', Times, serif;
    position: relative;
}

a {
    text-align: center;
    vertical-align: central;
    font-size: 1vw;
    font-family: 'Times New Roman', Times, serif;
    width: max-content;
    position: relative;
    line-height: 2vw;
    margin: 1vw;
}

body {
    background-color: lightgray;
}

.text-space {
    width: max-content;
    position: absolute;
    background-color: darkgray;
    border-radius: 2vw;
    border-style: outset;
    margin: 1vw;
    vertical-align: central;
    left: 25%;
    top: 20vw;
}

.container-login {
    width: 50%;
    height: 40vw;
    padding: auto;
    position: relative;
    left: 25%;
    top: 25%;
    background-color: blue;
}

.input-box {
    width: 50%;
    margin: 1vw;
    left: 25%;
    top: 10vw;
    position:absolute;
}