.container-principal {
    width: 720px;
    margin: 0 auto;
    padding: 20px;
    background-color: #edffea;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.subcontainer-Jogo {
    flex: 2;
    padding: 0;
    background-image: url("https://www.scrapbook.com/products/cache/SBC_spc-30279_270739_0.jpg");
    background-size: 400px;
    background-position: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    grid-template-columns: repeat(auto-fill, minmax(70px, 1fr));
}

table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

td {
    width: 70px;
    height: 70px;
    background-color: rgba(52, 152, 219, 0.5);
    border: 1px solid #333;
    text-align: center;
    vertical-align: middle;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    aspect-ratio: 1 / 1;
}

a {
    display: block;
}

.container-direita {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.subcontainer-Configuracoes {
    flex: 1;
    padding: 0;
    background-color: #e0e0e0;
    text-align: center;
    display: inline-flex;
    flex-direction: column;
}

.subcontainer-Historico {
    flex: 0.5;
    padding: 0;
    margin: 0;
    background-color: #e0e0e0;
    text-align: center;
}

.subcontainer-Footer {
    width: 100%;
    height: 74px;
    padding: 0;
    background-color: #ccc;
    text-align: center;
    display: flex;
    justify-content: space-around;
}

.Button {
    width: 120px;
    height: 50px;
    margin: 10px auto;
    padding: 0;
    background-color: #a5a5a5;
    color: #ffffff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ffffff;
    border-radius: 5px;
    font-size: 16px;
    font-family: Arial, sans-serif;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, transform 0.3s;
}

.squarePrimeiroClique {
    background-color: rgba(0, 126, 111, 0.5);
    border: 1px solid #333;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    aspect-ratio: 1 / 1; 
}

.squareAmareloEmVolta {
    background-color: rgba(167, 182, 0, 0.5);
    border: 1px solid #333;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    aspect-ratio: 1 / 1; 
}

.squareSemNada {
    background-color: rgba(0, 126, 5, 0.1);
    border: 1px solid #333;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    aspect-ratio: 1 / 1; 
    text-align: center;  
    vertical-align: middle; 
    font-size: 40px; 
    font-weight: bold;
    line-height: 70px;
    color:white;
}

.squareEscondido {
    background-color: rgba(0, 126, 5, 0.6);
    border: 1px solid #333;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    aspect-ratio: 1 / 1; 
    text-align: center;  
    vertical-align: middle; 
    color:white;
    font-size: 40px; 
    font-weight: bold;
    line-height: 70px;
}
